:root {
  text-align: center;
  color:#31a032;
}

#navbar{
  position: fixed;
  background-color: #e0e0e2;
  width: 100%;
  left:0%;
  top:0%;
}

nav li{
  display:inline;
  margin-right: 20px;
  padding: 5px 0px 5px 30px;
}

body {
  background-color:black;
  
}

hr {

  background-color: green;

}

.certificates{

  height: 400px;


}

.certificatesInfotep{

  height: 700px;
}


a {
  text-decoration:none;
}
