:root {
  background-color: black;
  text-align: center;
  margin-top: 2%;
  font-family: 'Klee One', sans-serif;
  color:#31a032;
}
#contacMe{
  
  color:white;
  border-radius: 2px;
}

#navbar{
  position: fixed;
  background: linear-gradient(45deg,#156b12,#6b1241,#3b126b );
  width: 100%;
  left:0%;
  top:0%;
  font-size:27px;
  z-index: 1;
}

#navbar li a{
  color: white;
}

nav li{
  display:inline;
  margin-right: 40px;
  padding: 5px 0px 5px 30px;
}

.tarjetaCertificacion{

  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  height: 60%;
  margin-top:3000px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.116); 
  border-radius: 5%;
  margin-bottom: 20px;
  

}

.imagenCertificado{
  
  width:90%;
  height: 50%;
}


hr {
  width: 40%;

}

.certificates{

  height: 400px;


}




a {
  text-decoration:none;
}

div img{
  border-radius:5%;
}

footer{
  width:100%;
  left:0%;
  bottom:0%;
  background-color:black;
  margin-top:5%;
}

div li{
  display:inline;
  margin-right: 50px;
}

div ul li{
  text-decoration: none;
}

