:root {
  text-align: center;
  margin-top: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  color:#31a032;
}
#contacMe{
  
  color:white;
  border-radius: 2px;
}

#navbar{
  position: fixed;
  color:white;
  background-color: #e0e0e2;
  width: 100%;
  left:0%;
  top:0%;
  font-size:27px;
}

nav li{
  display:inline;
  margin-right: 40px;
  padding: 5px 0px 5px 30px;
}

body {
  background-color:black;
  
}

hr {
  width: 40%;
  background-color: green;

}

.certificates{

  height: 400px;


}

.certificatesInfotep{

  height: 700px;
}


a {
  text-decoration:none;
}

div img{
  border-radius:5%;
}

footer{
  width:100%;
  left:0%;
  bottom:0%;
  background-color:black;
  margin-top:5%;
}

div li{
  display:inline;
  margin-right: 50px;
}

